.navbar-brand img{
    width: 45px;
    border-radius: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item{
    font-size: 18px;
    font-weight: 500;
}
.nav-item a:hover{
    color:black;
}
.navbar-nav{
    display: flex;
    margin: auto;
    border-radius: 30px;
    padding: 5px 20px;
}
.causes_header{
    text-align: center;
    margin-top: 3%;
}
.causes_header p h1{
    color: black;
    font-weight: bolder;
}
.causes_header span{
    color: darkturquoise;
}
.card_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.card{
    margin: 15px;
}
.card:hover{
    box-shadow: 0 7px 25px -20px;
}
.card-title a{
    text-decoration: none;
    color: black;
}
.mt-0{
    font-size: 45px;
    margin-bottom: 10px;
}
.mt-0 span{
    color:darkturquoise ;
}
.row{
    padding-top:20px;
    margin-top: 40px;
}